<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengxugu2.demo.mapper.ProviderMapper">
<select id="getProviders" resultType="com.mengxugu2.demo.entities.Provider" >
-- where 1=1可以保证不论参数有无 都会查询
select * from provider where 1=1
    <if test="providerName != null and providerName != ''">
--  第一个providerName 是mysql数据表中的字段名字
--  ${providerName} 用于字符串拼接  providerName是网页中的
        AND providerName like '%${providerName}%'
    </if>

</select>


    <insert id="addProvider" >

        INSERT INTO provider ( `provider_code`, `providerName`, `people`, `phone`, `address`, `fax`, `describe`, `create_date`) VALUES (#{providerCode}, #{providerName},#{people},#{phone},#{address},#{fax},#{describe},now());


    </insert>
    
    <delete id="deleteProviderByPid" >
        delete from provider where pid = #{pid}
    </delete>

    <select id="getProviderByPid" resultType="com.mengxugu2.demo.entities.Provider" >
        select * from provider where  pid= #{pid};
    </select>


    <update id="updateProvider" >
      UPDATE `bill`.`provider`
      SET  `provider_code`=#{providerCode}, `providerName`=#{providerName}, `people`=#{people}, `phone`=#{phone},
 `address`=#{address}, `fax`=#{fax}, `describe`=#{describe}, `create_date`=now()
  WHERE `pid`=#{pid}
    </update>
</mapper>